.root {
    margin-bottom: 0.5em;
    color: #000000d9;
    font-weight: 600;

    &.backline {
        text-align: center;

        &::after {
            content: "";
            display: block;
            width: 30%;
            position: relative;
            border-bottom: 1px solid #aaa;
            margin: 15px auto 0;
        }
    }

    &:hover {
        .anchor {
            visibility: visible;
        }
    }
}

.colorBlack {
    color: #000000;
}

.level1 {
    font-size: 38px;
    line-height: 1.23;
}

.level2 {
    font-size: 30px;
}

.level3 {
    font-size: 24px;
}

.level2,
.level3 {
    line-height: 1.35;
}

.level4 {
    font-size: 20px;
    line-height: 1.4;
}

.level5 {
    font-size: 16px;
    line-height: 1.5;
}

.anchor {
    visibility: hidden;
    margin-left: 10px;

    svg {
        width: 20px;
        height: auto;
    }
}